body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.font-color{
    color: orange;
}
h1{
    font-size: 50px;
}
.flexibie-container{
    display: flex;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.half-width{
    width: 50%;
    padding-left: 6%;
}
.half-width img{
width: 80%;
}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-bannar{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box-shadow{
    width: 60%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 25px black;
    padding-left: 25px;
    padding-bottom: 35px;
}
.last-bannar{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border-left-color{
   border-left: 7px solid;
   border-image: linear-gradient(blue, cyan);
   border-image-slice: 1;
}
#border-right-color{
    border-left: 7px solid;
   border-image: linear-gradient(salmon, tomato);
   border-image-slice: 1;
}